html,
body,
#checkinMap {
    height: 90%;
    width: 100%;
}

.weather-bar {
    background-color: lightblue;
    display: flex;
    padding: 1rem 5.5rem;


    .weather-info {
        flex: 1;
    }

    .coords {
        flex: 1;
        text-align: end;
    }
}

.picandtext {
    display: flex;

    .shop {
        flex: 1;
    }

    .submission-form {
        flex: 1;
    }
}


.shopimg {
    max-width: 500px;
    padding: 3rem;
}

.submission-form {
    border: 1.3px solid #403D56;
    border-radius: 5px;
    margin: 2rem auto;
    max-width: 500px;
    padding: 2rem;


    label {
        display: block;
        font-size: 14px;
        padding: 1rem 0 .25rem 0;

    }

    input,
    textarea,
    select {
        box-sizing: content-box;
        display: block;
        font-size: 16px;
        padding: .5rem;
        resize: none;
        width: 100%;
    }
}


#shopName {
    outline: none;
}

#eventDetails {
    outline: none;

}

#submit {
    background-color: #403D56;
    border-radius: 5px;
    border: none;
    box-sizing: content-box;
    color: white;
    padding: 0.7rem;
    outline: none;
    margin: 1rem 0;
    transform: 0.5s background ease;
    width: 100%;

    &:hover {
        background-color: #686585;
        cursor: pointer;
    }
}